body {
  background-color: #f8f9fc;
  font-family: 'Nunito', sans-serif;
}
h1 {
  color: #4e73df;
}

.table-container {
  margin: 20px auto;
  width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  
}

.table-container {
    direction: rtl;
  }
  /* table {
    text-align: right;
   direction:rtl;
  } */
  .btn {
    font-size: 14px;
  }
  .alert {
    color: red;
    text-align: center;
    font-weight: bold;
  }
.btn-success {
  background-color: #1cc88a;
  border: none;
  margin-bottom: 20px;
}
.btn-success:hover {
  background-color: #17a673;
}
table {
  border-collapse: collapse;
  width: 100%;
}
table, th, td {
  border: 1px solid #ddd;
  padding: 8px;
}
th {
  background-color: #4e73df;
  color: white;
  text-align: center;
}
td {
  text-align: center;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:hover {
  background-color: #ddd;
}
.alert {
  color: red;
  text-align: center;
  font-weight: bold;
}

